body{
	box-sizing: border-box;
}
.navbar .navbar-brand{
	font-size: 2em;
}
.nav-link {
	color: white;
}

h1{
	text-align: center;
	margin-top: 15px;
	text-shadow: 2px 2px#797D7F;
	margin: 20px;
	font-family: Calisto MT;
}

.text{
	
	background-color: #CCD1D1;
	box-shadow: 3px 3px 5px 	#273746;
	font-size: 16px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 800px;
	font-family: Century Gothic;
}

 .topmanu{
 	text-align: center;
 	width:100px;
 	background-color: black;

 }

.container-fluid{
	margin: 0px
}
p button{
	margin: 0px;
	border:1px solid black;
	cursor: pointer;
	width: 100px;
	height: 40px;
	box-shadow: 4px 4px 10px #616A6B;
	bottom: 20px;
	align-content: center;
	float: right;
	background-color: #E5E8E8;
	font-size: 20px;
}
p button:hover{
		background-color:#17202A;
		color: white;
}
	

@media (max-width:  767.98px){
	
	.nav-item .nav-link
	{
		text-align: center;
		color:white;
		font-size: 20px;
	}
	 .nav-item .nav-link:hover
	 {
 	background-color: #000;
 	opacity: 10;
 	color:black;
 	}
 	li{
 		color: #fff;
 		margin: 5px;
 	}

 }

@media (min-width: 767.99px) and (max-width: 991.98px) { 
	.nav-item .nav-link
	{
		display: none;
	}
	(".nav-item .nav-link").css("display", "none");
}



@media (min-width: 991.99px) { 
	.navbar-expand-lg .navbar-collapse
	{
		display: none !important;
	}
}	 






